* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: cursive;
	background-color: lightblue;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: cursive;
}

.bton {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.main {
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

input[type=checkbox] {
	display: none;
}

.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}

@media ( max-width : 768px) {
	.menu {
		display: none;
		position: absolute;
		background-color: teal;
		right: 0;
		left: 0;
		text-align: center;
		padding: 16px 0;
	}
	.menu li:hover {
		display: inline-block;
		background-color: #4c9e9e;
		transition: 0.3s ease;
	}
	.menu li+li {
		margin-top: 12px;
	}
	input[type=checkbox]:checked ~ .menu {
		display: block;
	}
	.hamburger {
		display: block;
	}
	.dropdown {
		left: 50%;
		top: 30px;
		transform: translateX(35%);
	}
	.dropdown li:hover {
		background-color: #4c9e9e;
	}
}

.inner {
	width: 100vw;
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
}

.navbar {
	display: flex;
	align-items: center;
	height: 57px;
	justify-content: space-between;
	background-color: teal;
	color: #fff;
}

.nav-links a {
	color: #fff;
}

.logo {
	font-size: 32px;
}

.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
}

.menu li:hover {
	background-color: #4c9e9e;
	border-radius: 5px;
	transition: 0.3s ease;
}

.menu li {
	padding: 5px 14px;
}

.services {
	position: relative;
}

.dropdown {
	background-color: rgb(1, 139, 139);
	padding: 1em 0;
	position: absolute;
	display: none;
	border-radius: 8px;
	top: 35px;
}

.dropdown li+li {
	margin-top: 10px;
}

.dropdown li {
	padding: 0.5em 1em;
	width: 8em;
	text-align: center;
}

.dropdown li:hover {
	background-color: #4c9e9e;
}

.services:hover .dropdown {
	display: block;
}

footer {
	background: teal;
	height: auto;
	width: 100vw;
	padding-top: 0px;
	color: #fff;
}

.footer-content {
	background-size: cover;
	background-color: teal;
	color: #fff;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 1rem;
	font-weight: 200;
	text-transform: capitalize;
	line-height: 2rem;
}

.forminner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.forminner input {
	margin-bottom: 15px;
}

.login {
	list-style: none;
	align-items: center;
}

.login a {
	text-decoration: none;
	color: #fff;
}

.footer-bottom {
	background: #000;
	color: white;
	width: 100vw;
	padding: 5px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-bottom p {
	float: left;
	font-size: 10px;
	word-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
}

.footer-bottom p a {
	color: #44bae8;
	font-size: 10px;
	text-decoration: none;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: .4;
	font-weight: 100;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 18px;
	font-size: 10px;
	color: #cacdd2;
}